body {
    font-family: 'Titillium Web', sans-serif;
    color: rgb(0, 0, 0);
    background-color: #F8F8F8; 
}

.main-container {
    margin-top: 5em;
}

.img-circle {
    border-radius: 50%;
}

ul#media li{
    display: inline;
    margin-right: 1em;
}

a {
    color: inherit;
}

a:hover{
    color: cadetblue;
    transition: color 1s;
}

#feup{
    color: rgb(100, 5, 5);
}

ul.nav li{
    color: lightgray;
    font-size: 0.75em;
    font-family: 'Raleway', sans-serif; 
}

/* #circle{
    font-size: 0.5em;
    margin-left: 3.5em;
    margin-right: 3.5em;
} */

footer{
    font-size: x-small;
    color: lightgray;
}

h4{
    font-family: 'Raleway', sans-serif;
}

h5{
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}