@import "settings";

body {
    font-family: $base-font-family;
    color: $base-font-color;
    background-color: $background-color; 
}

.main-container {
    margin-top: 5em;
}

.img-circle {
    border-radius: 50%;
}

ul#media{
    padding-right: 2em;
}

ul#media li{
    display: inline;
    margin-right: 0.6em;
}

a {
    color: inherit;

    &:hover{
        color: $second-font-color;
        transition: color 1s;
        text-decoration: none;
    }
}

#feup{
    color: $feup-color;
}

#name{
    font-family: $body-font-family; 
}

.work{
    color: $lighter-font-color;
    font-size: 0.75em;
    font-family: $body-font-family; 
    margin: 0;
}

footer {
    font-size: x-small;
    color: $lighter-font-color;
}

h1 {
    font-family: $body-font-family;
}

#blog h5{
    color: darken($second-font-color, 10%);
    font-size: 1em;
    font-family: $body-font-family;
}

#date{
    /*font-style: italic;*/
    color: $second-font-color;
    font-size: 0.8em;
}

#pdf{
    width: 50%;
}