@import "settings";

body {
    font-family: $base-font-family;
    color: rgb(0, 0, 0);
    background-color: #F8F8F8; 
}

.main-container {
    margin-top: 5em;
}

.img-circle {
    border-radius: 50%;
}

ul#media li{
    display: inline;
    margin-right: 1em;
}

a {
    color: inherit;

    &:hover{
        color: cadetblue;
        transition: color 1s;
        text-decoration: none;
    }
}

#feup{
    color: rgb(100, 5, 5);
}

ul.nav li{
    color: lightgray;
    font-size: 0.75em;
    font-family: $body-font-family; 
}

footer {
    font-size: x-small;
    color: lightgray;
}

h4 {
    font-family: $body-font-family;
}

#blog h5{
    color: cadetblue;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

#date{
    font-style: italic;
    color: cadetblue;
    font-size: 0.75em;
}

